<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form method = "post" action = "/users" accept-charset = "UTF-8" >
  <label for='username'>Username: </label>
  <input type = 'text' name = 'username'>

  <label for='email'>Email Address: </label>
  <input type = 'email' name = 'email'>

  <label for='password'>Password: </label>
  <input type = 'password' name = 'password'>

  <input type = 'submit' value = 'Create'>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %> " > 

</form>
